<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>自定义 error.html</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>自定义 error.html</h1>-->
<!--<p>status：<span th:text="${status}"></span></p>-->
<!--<p>error：<span th:text="${error}"></span></p>-->
<!--<p>timestamp：<span th:text="${timestamp}"></span></p>-->
<!--<p>message：<span th:text="${message}"></span></p>-->
<!--<p>path：<span th:text="${path}"></span></p>-->
<!--</body>-->
<!--</html>-->